{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<br><br><br><br><br>
    <div class="posts-container">
        {% for post in posts %}
      <div class="posts">

        <div class="post_user">
          <img src="{{ post.user_profile.profile_picture.url }}" width="70px">
          <h3>{{ post.user.username }}</h3>
        </div>
      {% if post.post_text %}
         <div class="text">
          <h1>{{ post.post_text }}</h1>
        </div>
        {% endif %}

    {% if post.post_image %}
        <div class="image">
          <img src="{{ post.post_image.url }}" width="300px" height="">
        </div>
        {% endif %}

      {% if post.post_video %}
        <div class="video">
           <video width="300" controls>
      <source src="{{ MEDIA_URL }}{{ post.post_video }}" type="video/mp4">
    </video>
        </div>
        {% endif %}

        <div class="like">
            <div class="left">
                <button class="like-button" id="like-button-{{ post.id }}"  data-post-id="{{ post.id }}">
                    <i style="color: {% if post.liked %} red; {% else %} currentColor; {% endif %}" class="fa fa-thumbs-up"></i>
                </button>

                <h2 class="likes" data-bs-toggle="modal" data-bs-target="#likesModal-{{ post.id }}" id="likes-count-{{ post.id }}">{{ post.likes }}</h2>


                        <!-- Modal -->
                            <div class="modal fade" id="likesModal-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      {% for like in post.likepost_set.all %}
                                        <div class="post_user">
                                            <h5>
                                                <img src="{{ like.user.user_profile.profile_picture.url }}" width="40">
                                                <a style="margin-left: 10px;" href="{% url 'profile' like.user.username %}">{{ like.user.username }}</a>
                                            </h5>
                                        </div>
                                      {% endfor %}
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>


            </div>
          <div class="right">
          <h2 class="see-comments">
            {% if post.comments_count == 0 %}
            No comments
            {% elif post.comments_count == 1 %}
            1 comment
            {% else %}
            {{post.comments_count}} comments
            {% endif %}
          </h2>
        </div>
        </div>
          <div class="comments">
              {% for comment in post.comments.all %}
              <div class="comment">
                  <h3>{{ comment.text }}</h3>
              </div>

              {% endfor %}
          </div>

      </div>
{% endfor %}


    </div>

  </body>

  <style>
      .likes:hover{
          cursor: pointer;
      }

    .posts-container{
      margin: auto;
      width: 40%;
      background-color: #65777c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
      gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .posts{
  margin: auto;
  width: 80%;
    justify-content: center;
      align-items: center;
      display: flex;
      background-color: #40f4b5;
      flex-direction: column;
      gap: 10px;

}

    .text{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      background-color: #849dd0;
    }

    .like{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-left: 10px;
      padding-left: 10px;
      padding-right: 15px;
    }

.image img{
  border-radius: 10px;
  border: solid white 2px;
}

.like button{
  background: none;
  border: none;
  font-size: 30px;
}

.left{
  display: flex;
  gap: 10px;
  align-items: center;
}

.post_user img{
  border: solid green 3px;
  border-radius: 40px;
}

.post_user{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
    margin-left: 15px;
    margin-top: 10px;
}

.right{
  display: flex;
  align-items: center;
}

.comments{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #4267B2;
    max-height: 500px;
    padding: 10px;
}

.comment{
    background-color: #98f6d6;
    padding-left: 5px;
    padding-right: 5px;
}

.see-comments:hover{
    cursor: pointer;
}
.like-button:focus {
    outline: none;
}


  </style>

<script>
    // Selecting the sidebar and buttons
const sidebar = document.querySelector(".sidebar");
const sidebarOpenBtn = document.querySelector("#sidebar-open");
const sidebarCloseBtn = document.querySelector("#sidebar-close");
const sidebarLockBtn = document.querySelector("#lock-icon");

const comment_texts = document.querySelectorAll(".see-comments")
const comments = document.querySelectorAll(".comments")

// Function to toggle the lock state of the sidebar
const toggleLock = () => {
  sidebar.classList.toggle("locked");
  // If the sidebar is not locked
  if (!sidebar.classList.contains("locked")) {
    sidebar.classList.add("hoverable");
    sidebarLockBtn.classList.replace("bx-lock-alt", "bx-lock-open-alt");
  } else {
    sidebar.classList.remove("hoverable");
    sidebarLockBtn.classList.replace("bx-lock-open-alt", "bx-lock-alt");
  }
};

// Function to hide the sidebar when the mouse leaves
const hideSidebar = () => {
  if (sidebar.classList.contains("hoverable")) {
    sidebar.classList.add("close");
  }
};

// Function to show the sidebar when the mouse enter
const showSidebar = () => {
  if (sidebar.classList.contains("hoverable")) {
    sidebar.classList.remove("close");
  }
};

// Function to show and hide the sidebar
const toggleSidebar = () => {
  sidebar.classList.toggle("close");
};

// If the window width is less than 800px, close the sidebar and remove hoverability and lock
if (window.innerWidth < 800) {
  sidebar.classList.add("close");
  sidebar.classList.remove("locked");
  sidebar.classList.remove("hoverable");
}

for (let i=0; i<comment_texts.length; i++){
    let show = false;

   (function(index){
                 comment_texts[index].addEventListener('click', function(){
           if (!show){
               comments[index].style.display='flex'
               show=true
           }else{
               comments[index].style.display='none'
               show=false
           }
       })


   })(i)

}


// Adding event listeners to buttons and sidebar for the corresponding actions
sidebarLockBtn.addEventListener("click", toggleLock);
sidebar.addEventListener("mouseleave", hideSidebar);
sidebar.addEventListener("mouseenter", showSidebar);
sidebarOpenBtn.addEventListener("click", toggleSidebar);
sidebarCloseBtn.addEventListener("click", toggleSidebar);


$(document).ready(function() {
    $('.like-button').click(function() {
        var postId = $(this).data('post-id');  // assuming the post id is stored in a data attribute
        $.ajax({
            url: '/like_content/',
            type: 'POST',
            data: {
                'post_id': postId,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            dataType: 'json',
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            },
            success: function(data) {
                if (data.error) {
                    alert(data.error);
                } else {
                    // update the likes count on the page
                    $('#likes-count-' + postId).text(data.likes);
                    // update the liked status on the page
                    if (data.liked) {

                        $('#like-button-' + postId).find('i').css('color', 'red');
                    } else {

                        $('#like-button-' + postId).find('i').css('color', 'currentColor');
                    }
                    // update the likes users in the modal
                    var likes_users_html = '';
                    for (var i = 0; i < data.likes_users.length; i++) {
                        var user_profile = data.likes_users[i].user.user_profile;
                        var user = data.likes_users[i].user;
                        likes_users_html += '<div class="post_user"><h5><img src="' + user_profile['profile_picture'] + '" width="40"><a style="margin-left: 10px;" href="/profile/' + user['username'] + '">' + user['username'] + '</a></h5></div>';
                    }
                    $('#likesModal-' + postId).find('.modal-body').html(likes_users_html);



                }
            },
            error: function(xhr, status, error) {
                alert('An error occurred: ' + status + '\n' + error);
            }
        });
    });
});


</script>
{% endblock %}