{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<br><br><br><br><br>
    <div class="posts-container">
        {% for post in posts %}
      <div class="posts">

            <div class="post_user">
                <a href="{% url 'profile' post.user.username %}">
                    <div class="user-image">
                        <img src="{{ post.user_profile.profile_picture.url }}" width="70px">
          <h3>{{ post.user.username }}</h3>
                    </div>
                     </a>
        </div>

      {% if post.post_text %}
         <div class="text">
          <h1>{{ post.post_text }}</h1>
        </div>
        {% endif %}

    {% if post.post_image %}
        <div class="image">
          <img src="{{ post.post_image.url }}" width="300px" height="">

        </div>

        <a href="{{ post.post_image.url }}" download>
            <i class="fa fa-download"></i>
            Download
        </a>
        {% endif %}

        {% if post.post_video %}
        {% endif %}

      {% if post.post_video %}
        <div class="video">
           <video width="300" controls>
      <source src="{{ MEDIA_URL }}{{ post.post_video }}" type="video/mp4">
    </video>
        </div>
        {% endif %}

        <div class="like">

                <form method="POST" class="like_class">
                    {% csrf_token %}
            <input class="like_id" type="hidden" value="{{ post.id }}">
                    <button type="submit" class="like_button">
                        <i type="submit"  style="color: {% if post.liked %}red{% else %}blue{% endif %}"  class="fa fa-thumbs-up"></i>
                    </button>

            <h2 class="likes">{{ post.likes }}</h2>

                </form>

          <div class="right">
          <h2 class="see-comments">
            {% if post.comments_count == 0 %}
            No comments
            {% elif post.comments_count == 1 %}
            1 comment
            {% else %}
            {{post.comments_count}} comments
            {% endif %}
          </h2>
        </div>
        </div>
          <div class="comments">
              {% for comment in post.comments_with_likes %}
              <div class="comment">
                  <div class="comment_in">
                      <a href="{% url 'profile' comment.user.username %}"><img src="{{ comment.user_profile.profile_picture.url }}" width="30px"></a>
                  <h3>{{ comment.text }}</h3>
                  </div>

                  <div class="replies">

                      <form class="com_like_class">
                          <div class="com_likes">
                                <input class="like_id" type="hidden" value="{{ comment.id }}">
                                {% csrf_token %}
                              <button type="submit" class="like_button">
                                  <i type="submit"  style="color: {% if comment.liked %}red{% else %}blue{% endif %}"  class="fa fa-thumbs-up"></i>
                              </button>
                              <h2 class="likes">{{ comment.likes }}</h2>
                          </div>
                      </form>


                      <h4>replies: {{ comment.replies.all|length }}</h4>
                      <button>reply</button>
                  </div>
                  <div>
                      <div class="make_reply">
                          <form method="POST" action="{% url 'reply_comment' %}">
                              {% csrf_token %}
                              <textarea  cols="47" placeholder="reply" name="reply_text" ></textarea>
                              <input type="submit" value="reply">
                              <input type="hidden" name="comment_id" value="{{ comment.id }}">
                          </form>

                      </div>
                         {% for reply in comment.replies.all %}
                       <img src="{{ reply.user_profile.profile_picture.url }}" width="50px">
                      <h3>{{ reply.text }}</h3>
                      {% endfor %}
                      </div>
              </div>

              {% endfor %}
              {% if user.is_authenticated %}
              <h1>make a comment</h1>
                            <div class="make_comment">
                  <form method="post">
                      {% csrf_token %}
                      <textarea rows="2" cols="48" name="comment_text" class="comment_text"></textarea>
                      <input type="hidden" name="post_id" class="post_id" value="{{ post.id }}">
                      <input type="submit" value="comment">
                  </form>
              </div>
              {% endif %}

          </div>


      </div>
{% endfor %}


    </div>

  </body>

  <style>

    .posts-container{
      margin: auto;
      width: 40%;
      background-color: #65777c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
      gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .posts{
  margin: auto;
  width: 80%;
    justify-content: center;
      align-items: center;
      display: flex;
      background-color: #40f4b5;
      flex-direction: column;
      gap: 10px;

}

    .text{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      background-color: #849dd0;
    }

    .like{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-left: 10px;
      padding-left: 10px;
      padding-right: 15px;
    }

.image img{
  border-radius: 10px;
  border: solid white 2px;
}

.like button{
  background: none;
  border: none;
  font-size: 30px;
}

.like_class{
  display: flex;
  gap: 10px;
  align-items: center;
}

.post_user img{
  border: solid green 3px;
  border-radius: 40px;
}

.post_user{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
    margin-left: 15px;
    margin-top: 10px;
}

.user-image{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;

}


.right{
  display: flex;
  align-items: center;
}

.comments{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #4267B2;
    max-height: 500px;
    padding: 10px;
}

.comment{
    background-color: #98f6d6;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-bottom: 5px;
}

.comment_in{
        background-color: #98f6d6;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.com_likes{
    display: flex;
    justify-content: center;

}
.com_likes button{
    background: none;
    border: none;
}


.replies{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f85d2;
    padding-left: 5px;
    padding-right: 5px;
}

.see-comments:hover{
    cursor: pointer;
}

.make_comment{
    width: 100%;
}




  </style>

<script>
    // Selecting the sidebar and buttons
const sidebar = document.querySelector(".sidebar");
const sidebarOpenBtn = document.querySelector("#sidebar-open");
const sidebarCloseBtn = document.querySelector("#sidebar-close");
const sidebarLockBtn = document.querySelector("#lock-icon");

const comment_texts = document.querySelectorAll(".see-comments")
const comments = document.querySelectorAll(".comments")

// Function to toggle the lock state of the sidebar
const toggleLock = () => {
  sidebar.classList.toggle("locked");
  // If the sidebar is not locked
  if (!sidebar.classList.contains("locked")) {
    sidebar.classList.add("hoverable");
    sidebarLockBtn.classList.replace("bx-lock-alt", "bx-lock-open-alt");
  } else {
    sidebar.classList.remove("hoverable");
    sidebarLockBtn.classList.replace("bx-lock-open-alt", "bx-lock-alt");
  }
};

// Function to hide the sidebar when the mouse leaves
const hideSidebar = () => {
  if (sidebar.classList.contains("hoverable")) {
    sidebar.classList.add("close");
  }
};

// Function to show the sidebar when the mouse enter
const showSidebar = () => {
  if (sidebar.classList.contains("hoverable")) {
    sidebar.classList.remove("close");
  }
};

// Function to show and hide the sidebar
const toggleSidebar = () => {
  sidebar.classList.toggle("close");
};

// If the window width is less than 800px, close the sidebar and remove hoverability and lock
if (window.innerWidth < 800) {
  sidebar.classList.add("close");
  sidebar.classList.remove("locked");
  sidebar.classList.remove("hoverable");
}

for (let i=0; i<comment_texts.length; i++){
    let show = false;

   (function(index){
                 comment_texts[index].addEventListener('click', function(){
           if (!show){
               comments[index].style.display='flex'
               show=true
           }else{
               comments[index].style.display='none'
               show=false
           }
       })


   })(i)

}


// Adding event listeners to buttons and sidebar for the corresponding actions
sidebarLockBtn.addEventListener("click", toggleLock);
sidebar.addEventListener("mouseleave", hideSidebar);
sidebar.addEventListener("mouseenter", showSidebar);
sidebarOpenBtn.addEventListener("click", toggleSidebar);
sidebarCloseBtn.addEventListener("click", toggleSidebar);


</script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script>
    $(document).on('submit', '.like_class', function(e){
        e.preventDefault();
        var form = $(this);
        var likeID = form.find('.like_id').val();
        var csrf_token = form.find('input[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: 'like_content/' + likeID + '/',
            data: {
                csrfmiddlewaretoken: csrf_token
            },
            success: function(data){
                form.find('.likes').text(data.likes)
                if (data.liked){
                    form.find('i').css('color', 'red');
                }else{
                    form.find('i').css('color', 'blue');
                }
            }
        })
    })

    $(document).on('submit', '.com_like_class', function(e){
        e.preventDefault();
        var form = $(this);
        var likeID = form.find('.like_id').val();
        var csrf_token = form.find('input[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: 'like_comment/' + likeID + '/',
            data: {
                csrfmiddlewaretoken: csrf_token
            },
            success: function(data){
                form.find('.likes').text(data.likes)
                if (data.liked){
                    form.find('i').css('color', 'red');
                }else{
                    form.find('i').css('color', 'blue');
                }
            }
        })
    })

    $(document).on('submit', '.make_comment', function(e){
        e.preventDefault();
        var form = $(this);
        var text = form.find('.comment_text').val();
        var post_id = form.find('.post_id').val();
        var csrf_token = form.find('input[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: '/make_comment',
            data: {
                csrfmiddlewaretoken: csrf_token,
                comment_text: text,
                post_id: post_id
            },
            success: function(data){
                form.find('.comments').append(data.returned_content)
                console.log(data.text)
                if (data.liked){
                    form.find('i').css('color', 'red');
                }else{
                    form.find('i').css('color', 'blue');
                }
            }
        })
    })
</script>


{% endblock %}