<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset Page</title>
    <link rel="stylesheet" href="{% static 'signup_login.css' %}">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="bg-img">
      <div class="content">
        <header>Reset Password</header>
        <form style="color: white;" action="" method="POST">
           <h4>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h4><br>
<h4 style="width: 60%; margin: 0 auto">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h4>
<h1><a href="{% url 'index' %}">home</a></h1>
        </form>
      </div>
    </div>
  </body>
</html>




